@import 'jeet'

$primaryColor = #5188BF
$secondaryColor = #56D0B3

medium = 'screen and (min-width: 768px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'

body
  margin 0
  padding 0
  font-family helvetica
  font-size 1.5em
  overflow-x hidden

.container
  @media medium
    padding 200px 60px
  @media large
    padding 100px 30px
    width 400px 
    margin auto    

.wrapper
  @media medium
    margin 1em auto
  @media large
    margin 0px auto
    padding 40px 30px
    width 450px 
    padding-top 0px
     
.text
  color $primaryColor
  text-shadow 0 0 1px rgba(255,255,255,.75)
  text-align left
  @media medium 
    font-size 3em
    margin-bottom 100px
  @media large
    font-size 1em
    margin-bottom 20px
  
.submit
  width 100%
  text-align center
  background $primaryColor
  color #fff
  box-shadow inset 0 0 4px lighten($primaryColor, 5)
  @media medium
    font-size 2.5em
    padding 50px
  @media large
    font-size 1em
    padding 25px
  
.hint
  color #fff
  
.button
  margin 0
  column(1/3, cycle: 3, gutter: 0)
  background $primaryColor
  -moz-box-shadow    inset 0 0 10px lighten($primaryColor, 5)
  -webkit-box-shadow inset 0 0 10px lighten($primaryColor, 5)
  box-shadow         inset 0 0 4px lighten($primaryColor, 5)
  line-height 100px
  cursor pointer
  color #fff
  transition box-shadow .3s, text-shadow .5s, color .1s
  text-align center
  @media medium
    font-size 3em
    height 245px
    float none
  @media large
    font-size 1.5em
    height 110px
    float left

.button:active
	-moz-box-shadow    inset 0 0 20px $primaryColor
	-webkit-box-shadow inset 0 0 20px $primaryColor
	box-shadow         inset 0 0 20px $primaryColor
	color #66ccff
	text-shadow 0 0 5px rgba(255, 255, 255, .5)
  
.progress
  background-color $primaryColor 
  width 100%
  @media medium 
    height 50px
  @media large
    height 40px
  
.bar
	background-color $secondaryColor
	height 100%
	width 100%

.question
  color $primaryColor
  text-align center
  @media medium
    font-size 5em
    margin 40px 0px
  @media large
    font-size 2.5em
    margin 20px 0px
  
.question-enter
  opacity 0.01

.question-enter.question-enter-active
  opacity 1
  transition opacity 500ms ease-in
  

.question-leave
  opacity 1

.question-leave.question-leave-active
  opacity 0.01
  transition opacity 300ms ease-in
  

.question-appear
	opacity 0.01
  
.question-appear.question-appear-active
	opacity 1
	transition opacity .5s ease-in
  

